* {
    -fx-font-family: 'Varela Round';
    -fx-alignment: center;
    -fx-text-fill: #fff;
}
#registerBox{
    -fx-spacing: 25px;
}
#container {
    -fx-background: #35B55C;
    -fx-background-color: #202428;
    -fx-pref-width: 500px;
}

#selectorBox{
    -fx-spacing: 25px;
}
#dataInputBox{
    -fx-spacing: 35px;
}

#accountTypeLabel {
    -fx-font-size: 35px;
}

#registerBannerBox {
    -fx-spacing: 50px
}

#registerBanner {
    -fx-font-size: 75px;
}

.button {
  -fx-border-radius: 10px;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #fff;
  -fx-background-color: none;
  -fx-text-fill: #fff;
  -fx-fill-width: true;
  -fx-cursor: pointer;
  -fx-padding: 10px 10px 10px 10px;
  -fx-font-size: 20px;

}